{% extends 'base.html.twig' %}
{% trans_default_domain 'cards' %}

{% block title %}{{ ('general.qa'|trans) }}{% endblock %}

{% block body %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-amber">Questions fréquentes</h2>
            <p>
                Vous êtes nombeux à me contacter par email avec des questions qui reviennent fréquemment, j'ai donc décidé de créer cette page avec les réponses aux questions que vous vous posez le plus souvent.
                <br /><br />
                <strong>Q : Ce site est-il toujours maintenu, quelqu'un répond-il aux messages que j'envoie ?</strong><br />
                R : Oui, la preuve :) Ma seule activité actuelle concernant ce site est de le maintenir. J'avais de grands projets au commencement mais faute de temps, cela restera très certainement à l'état de projet.<br />
                Je réponds généralement aux messages envoyés (pas toujours dans la minute néanmoins).
                <br /><br />

                <strong>Q : Connais-tu la côte des cartes ?</strong><br />
                R : Sagurnama, que je remercie, m'a indiqué 2 sites (anglophones malheureusement) qui pourraient aider :<br />
                <a href="http://lotrtcgwiki.com/forums/" target="_blank">forum LotrWiki</a> : ce site / forum semble toujours actif et les membres de la communauté semblent en mesure de donner des renseignements sur la cotation (prix en dollars)<br />
                <a href="http://www.ccg-singles.com/index.php?main_page=index&cPath=34" target="_blank">CCG singles</a> : ce site américain permet d'acheter des cartes à l'unité et donne donc, par la même occasion, un ordre d'idée de la côte d'une carte.
                <br /><br />

                <strong>Q : Achètes-tu / vends-tu des cartes ?</strong><br />
                R : Non, ma collection n'évolue plus, je garde (pour l'instant) les cartes que je possède mais n'en cherche pas de nouvelles.<br />
                Je n'achète ni vends / échange plus.
                <br /><br />

                <strong>Q : Connais-tu des gens qui achètent / vendent des cartes ?</strong><br />
                R : Non, je ne joue plus depuis longtemps et n'ai donc plus vraiment de contact avec ce monde.<br />
                Je vous conseille néanmoins les lieux de jeu habituels, où l'on croise généralement des amateurs.
                <br /><br />

                Je vous invite également à consulter le site ci-dessus. Cela revient toutefois un peu cher avec les frais de port.<br />
                Je précise que je n'ai pas, personnellement, tenté d'acheter sur ce site et ne peux donc garantir sa fiabilité.
                <br /><br />

                <strong>Q : Les règles sur le site sont-elles à jour ?</strong><br />
                R : Pour être tout à fait franche, je ne sais pas. Je ne sais pas s'il y a encore des des tournois "officiels" donc s'il y a encore besoin de règles officielles.<br />
                Ce que vous trouvez dans la page "Règles" est surtout un mode d'emploi du jeu.
                <br /><br />

                Il semble par ailleurs qu'on puisse (à condition de comprendre / écrire l'anglais) poser des questions concernant les règles sur le forum LotrWiki (lien ci-dessus).
                <br />

                J'espère que ces réponses vous serviront, je ferai évoluer cette page avec les autres questions fréquentes que je pourrais recevoir si nécessaire.
            </p>
        </div>

        {{ render(controller(
            'App\\Controller\\StaticController::topRight'
        )) }}

        {{ render(controller(
            'App\\Controller\\StaticController::bottomRight'
        )) }}
    </div>
{% endblock %}