###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=123456
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://username:password@host:3306/database?serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> symfony/mailjet-mailer ###
# MAILER_DSN=mailjet+api://PUBLIC_KEY:PRIVATE_KEY@api.mailjet.com
# #MAILER_DSN=mailjet+smtp://PUBLIC_KEY:PRIVATE_KEY@in-v3.mailjet.com
###< symfony/mailjet-mailer ###
